<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="whitespace_exception"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <property scope="context"
              name="LOG_PATTERN"
              value="${LOG_PATTERN:-%n%d{HH:mm:ss.SSS} %cyan(%-40.40logger{39}) %mdc%n%highlight(%12level) %message%n%whitespace_exception}" />

    <springProperty scope="context" name="LOGGING_LEVEL" source="logging.level" defaultValue="INFO" />
    <springProperty scope="context" name="STDOUT_APPENDER_NAME" source="logging.format" defaultValue="json" />

    <include optional="true" resource="logback.properties.xml" />

    <turboFilter class="ch.qos.logback.classic.turbo.DuplicateMessageFilter"/>

    <appender name="text" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <logLevel />
                <message />
                <threadName />
                <callerData />
                <tags />
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>100</maxDepthPerThrowable>
                        <maxLength>3000</maxLength>
                        <shortenedClassNameLength>100</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                        <exclusions>${SHORTENED_THROWABLE_CONVERTER_EXCLUSIONS}</exclusions>
                    </throwableConverter>
                </stackTrace>

                <provider class="ru.qiwi.devops.mission.control.utils.logging.WholeMdcProvider" />
            </providers>
        </encoder>
    </appender>

    <include optional="true" resource="logback.loggers.xml" />

    <root level="${LOGGING_LEVEL}">
        <appender-ref ref="${STDOUT_APPENDER_NAME}"/>
    </root>
</configuration>
